.slider-container {
    position: relative;
    margin: 0 auto;
    text-align: center;

}



.cards-slider {
    display: flex;
    min-height: 300px;
    position: absolute;
    transition: transform 300ms ease-in-out;
    /* background: black; */
    padding: 10px;
    margin-top: 10px;
}

.cards-slider-wrapper {
    background: black;
}

.previous-button,
.next-button {
    position: relative;
    height: 80px;
    width: 80px;
    font-size: 50px;
    background-color: red;
    color: black;
    font-weight: bolder;
    background: none;
    border: none;
}

.button-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 320px;

}

button:focus {
    outline: none;
}

/* @media only screen and (min-width: 600px) {
    .cards-slider {
        left: 14%;
    }
} */