.card-container {
    height: 300px;
    width: 300px;
    position: relative;
    margin-right: 10px;
}

.card-overlay {
    background: rgba(0, 0, 0, 0.523);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
}

.card-overlay:hover {
    opacity: 0;
}

.card-container img {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}