* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.content-container {
  min-height: 450px;
  /* border: 2px solid black; */
  overflow: hidden;
  width: 100%;
  /* margin: 0 auto; */
  /* display: flex;
  flex-direction: column; */
}

.heading {
  text-align: center;
}

.content-container .category {
  position: relative;
  left: 1%;
}